.subCategory {
  display: flex;
  margin: 0 auto;
  padding: 10px 0;
  width: 70vw;
  height: 12px;
  align-items: center;
  justify-content: space-between;
}

.subCategory__title {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: light;
}