.pageHeading {
  font-size: 34px;
  font-family: 'Poppins', sans-serif;
  margin: 1rem;
  background-image: linear-gradient(to right, #EE0979, #FF6A00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}