.navigationBar ul {
	background-color: white;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	margin: 0;
}
.navigationBar__middleItem {
	background-color: #e54028;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
